{% extends "base.html" %}

{% block title %}Question {{ question_number }} - Test a Tester{% endblock %}

{% block content %}
<div class="quiz-container">
    <div class="timer" id="timer" data-remaining-time="{{ remaining_time }}"
        data-score-url="{{ url_for('show_score') }}">
        <span id="time-display">--:--</span>
    </div>
    <div class="question-header">
        Question {{ question_number }} of {{ total_questions }}
    </div>

    <h1>{{ question_data.question }}</h1>

    {% if question_data.code_snippet %}
    <pre class="code-snippet"><code>{{ question_data.code_snippet }}</code></pre>
    {% endif %}

    <form method="post" id="quiz-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <ul>
            {% for option in question_data.options %}
            <li>
                <label>
                    <input type="radio" name="option" value="{{ loop.index0 }}" required>
                    {{ option }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit Answer</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/question.js') }}" defer></script>
{% endblock %}